.source.json {
  .dictionary {
    .string.quoted {
      color: @base0D;
    }

    // value hack until this is better supported in Atom
    & > .value.json > .string.json {
      color: @base0B;
    }
  }

  .array {
    .string.quoted {
      color: @base0B;
    }
  }

  .punctuation {
    color: @base05;

    &.key-value {
      color: @base06;
    }
  }
}
