.syntax--source.syntax--ruby {
  .syntax--constant {
    &.syntax--boolean {
      color: @base0A;
    }
  }

  .syntax--keyword {
    &.syntax--operator {
      color: @base01;

      &.syntax--assignment {
        color: @base0D;
      }

      &.syntax--comparison {
        color: @base0F;
      }
    }
  }
}
