.syntax--source.syntax--yaml,
.syntax--front-matter.syntax--yaml {
  .syntax--string {
    color: @base0D;
  }

  .syntax--punctuation {
    color: @base05;

    &.syntax--key-value,
    &.syntax--entry {
      color: @base06;
    }
  }

  .syntax--comment {
    color: @base04;
  }

  .syntax--hyperlink {
    color: inherit;
  }
}
